/**********通用样式************/

@font-face {
  font-family: dl;
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
       url('../fonts/icomoon.svg') format('svg'),
       url('../fonts/icomoon.ttf') format('truetype'),
       url('../fonts/icomoon.woff') format('woff')
}

[class^='dl_icon-'],[class*='dl_icon-'] {
  font-family: dl;
  font-style: normal;
}
.dl_icon-phone::before {
  content: '\e958';
  font-size: 13px;
}
.dl_icon-tel::before {
  content: '\e942';
  font-size: 13px;
}

#dl_about .title_star .span_sm, #dl_about .title_star .span_md,
#dl_hot .title_star .span_sm, #dl_hot .title_star .span_md,
#dl_link .title_star .span_sm, #dl_link .title_star .span_md {
  color: #f3ee86cf;
  margin: 5px;
  font-size: 2em;
}

#dl_about .title_star .span_md,
#dl_hot .title_star .span_md,
#dl_link .title_star .span_md {
  font-size: 3em;
}

/**********头部样式************/
#dl_header {}
#dl_header .top_bar {
  height: 40px;
  line-height: 39px;
  border: 1px solid #e0e0e0;
  text-align: center;
}
#dl_header .top_bar a {
  color: #777;
}
#dl_header .top_bar .container .row>div + div {
  border-left: 1px solid #e0e0e0
}

#dl_header .top_bar .top_bar_1 img {
  width: 100%;
  display: none;
  position: absolute;
  margin-top: -10px;
}
#dl_header .top_bar .top_bar_1 a:hover img {
  display: block;
}
#dl_header .dl_navbar {
  background-color: #fff;
}
#dl_header .dl_navbar .navbar-brand {
  height: 70px;
  padding: 25px 10px;
}
#dl_header .dl_navbar .navbar-nav a {
  height: 70px;
  line-height: 40px;
}

#dl_header .dl_navbar .navbar-nav li.active a,
#dl_header .dl_navbar .navbar-nav a:hover {
  border-bottom: 2px solid #54c8f1;
  background-color: transparent;
}
#dl_header .dl_navbar {
  margin-bottom: 0px;
}
#dl_header .dl_navbar .navbar-toggle{
  margin-top: 15px;
}

/**************轮播图******************/

#dl_carousel  .carousel-inner .item {
  /*height: 473px;*/
  background: #0007 no-repeat center center;
  background-size: 1000%;
}
#dl_carousel  .carousel-inner .item img {
  margin: 0 auto;
}

/***************关于我们*******************/

#dl_about .container .dl_about_desc {
  line-height: 30px;
  font-size: 18px;
}

/***********产品特色***********/
#dl_product .nav a {
  color: #999;
}
#dl_product .nav li.active {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #0AB4F7;
}
#dl_product .tab-content {
  margin-top: 15px;
  height: 400px;
  color: #999;
}
#dl_product_1 .dl_pd_desc {
  margin-top: 30px;
}
#dl_product_1 .media .media-body {
  vertical-align: bottom;
}
#dl_product_1 ol {
  background-color: #fff;
  font-size: 2em;
}
#dl_product_1 .zixun {
/*  display: flex;
  flex-direction: column;*/
}

#dl_product_1 .zixun button {
  margin: 0 15px;
}

/************热门课程*****************/

#dl_hot .media .media-left {
  width: 25%;
}
#dl_hot .media .media-body {
  width: 60%;
}

#dl_hot .media .media-right {
  width: 15%;
}
#dl_hot .media .media-body,
#dl_hot .media .media-right {
  vertical-align: middle;
}

#dl_hot .media .media-left img {
  width: 100px;
  height: 100px;
}

/****************友情链接**************/

#dl_link ul {
  list-style: none;
}

#dl_link ul li {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px 20px;
}

/******************尾部*******************/

#dl_footer {
  height: 200px;
  background-image: url('../imgs/ziran2.jpg');
  background-size: 400%;
}
#dl_footer .row>div + div {
  border-left: 1px solid #8d8;
}

#dl_footer .container .row div {
  color: #fff;
  height: 200px;
  padding: 40px 20px;
}

#dl_footer .container .row ul {
  list-style: none;
}
#dl_footer .container .row ul li {
  line-height: 40px;
}
#dl_footer .dl_left, #dl_footer .dl_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}